In [1]:
import streamlit as st
import numpy as np
import pandas as pd

In [7]:
df = pd.DataFrame(
    np.random.rand(20, 3),
    columns=['a','b','c']
)

In [14]:
df = pd.DataFrame(
    np.random.rand(100, 2) / [50,50] + [35.69, 139.70],
    columns=['lat','lon']
)
df

          lat         lon
0   35.706459  139.703502
1   35.690646  139.700087
2   35.700689  139.714971
3   35.706806  139.719083
4   35.702120  139.700557
..        ...         ...
95  35.699854  139.716262
96  35.695396  139.704867
97  35.702103  139.718320
98  35.702297  139.715131
99  35.697244  139.707759

[100 rows x 2 columns]

In [2]:
list(range(1, 11))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]